.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown a {
  color: blue;
}

.markdown blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.markdown .little {
  font-size: 0.8rem;
  @apply italic;
}

.markdown ol > li {
  list-style-type: decimal;
}

.markdown ul > li {
  list-style-type: disc;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown video {
  transition: 0.5s transform ease-in-out;
}

.markdown video:hover {
  transform: scale(1.5);
}
